.container {
    padding: 0 15px 0;
    min-width: auto;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

a, p, h1 {
    overflow: hidden;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

textarea:valid {
    border-color: green;
}

textarea:invalid {
    border-color: red;
}

textarea {
    resize: none;
}

.nickname {
    margin-left: 20px;
    color: floralwhite;
    font-family: "Bradley Hand ITC";
    font-size: 30px;
}

.button-authorized {
    margin: 10px;
    position: relative;

}

#SearchLine {
    width: 500px;
}

.navbar {
    height: 100px;
}

.navbar-brand {
    font-size: 40px;
}

.question-text {
    position: static;
}

.flex-shrink-0 {
    margin-top: 150px;
    margin-bottom: 150px;
}

body, html {
    background: linear-gradient(#dccc1a, #E8D9A9) fixed;
    width: 100%;
    height: 100%;
}

.avatar {
    width: 110px;
    height: 110px;
    border: 1px solid #00000f;
    border-radius: 50%;
    overflow: hidden;
    object-position: 0 0;
}

.like {
    width: 25px;
    height: 25px;
    object-position: center;
}

.counterLike {
    width: 33%;
    height: 33%;
    font-size: 150%;
    padding: 0;
}


.col-lg-2 {
    margin-bottom: 5px;
    text-align: center;
    margin-top: 5px;
}

.col-lg-10 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.answers-area {
    border: 2px solid black;
    border-left: none;
    border-right: none;
    padding-top: 20px;
}

.close-image {
    display: inline-block;
    height: 10px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}

.avatar-navbar {
    width: 100px;
    height: 100px;
    border: 2px solid floralwhite;
    border-radius: 50%;
    overflow: hidden;
    object-position: 0 0;
}


img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.questions {
    border: 2px solid #00000f;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 14px;
}

.question {
    padding: 20px;
    margin-bottom: 20px;
    font-family: Arial;
    font-size: 14px;
}

.answer {
    border: 2px solid #00000f;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-family: Arial;
    font-size: 14px;
}


.site-info {
    border: 2px solid #00000f;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-family: Arial;
    font-size: 20px;
}

.form-control {
    overflow: hidden;
}

.mb-3 {
    margin-right: 20px;
}

.text-error {
    color: red;
    font-size: 15px;
}

.list-group-item {
    background-color: transparent;
    border: 0 solid #00000f;
}

.badge {
    text-decoration: none;
}

.rate {
    width: 25%;
    height: 33%;
    padding: 0;
    margin-top: 2px;
    max-width: 35px;
}

.counter {
    padding: 0;
    text-align: center;
    width: 50%;
}


.plus-minus-buttons-img {
    width: 75%;
}

.rate-button {
    padding: 0;
}
