<!doctype html>
{% load static %}
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>As'ka</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header class="header-index">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="navbar-brand" href="../templates/index.html">As'ka</a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           id="SearchLine">
                </form>
                <div class="ask-button">
                    <button type="button" class="btn btn-outline-light me-2">Ask</button>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <div class="container-user-info">
                    <div class="avatar-navbar">
                        <img src="../static/img/25333.png" alt="">
                    </div>
                </div>
                <div class="container-user-info">
                    <div class="nickname">User</div>
                </div>
                <div class="container-user-settings">
                    <div class="button-authorized">
                        <button type="button" class="btn btn-outline-light me-2">LogOut</button>
                    </div>
                    <div class="button-authorized">
                        <button type="button" class="btn btn-outline-light me-2">Settings</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <h1>New questions</h1>
        <div class="row">
            <div class="col-9">
                <div class="questions">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="avatar">
                                <img src="../static/img/25333.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <h2 class="question-title">Question 1</h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis dolore eius enim
                                maiores optio pariatur perferendis quae quo sed?
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-2">
                            <div class="row">
                                <div class="col-3 rate">
                                    <button type="button" class="btn btn-outline-primary btn-light rate-button">
                                        <img class="plus-minus-buttons-img" src="../static/img/minus.png" alt="">
                                    </button>
                                </div>

                                <div class="col-6 counter">
                                    <span class="counterLike">-11111</span>
                                </div>
                                <div class="col-3 rate">
                                    <button type="button" class="btn btn-outline-primary btn-light rate-button">
                                        <img class="plus-minus-buttons-img" src="../static/img/plus.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <a href="../templates/question.html#answers">answers(1)</a>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">Tags:</div>
                                <div class="col-lg-3"><a href="../templates/tag.html#tag">sport</a></div>
                                <div class="col-lg-3"><a href="../templates/tag.html#tag">IT</a></div>
                                <div class="col-lg-3"><a href="../templates/tag.html#tag">games</a></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="questions">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="avatar">
                                <img src="../static/img/25333.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <h2 class="question-title">Question 2</h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis dolore eius enim
                                maiores optio pariatur perferendis quae quo sed?
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="row">
                                <div class="col-3 rate">
                                    <button type="button" class="btn btn-outline-primary btn-light rate-button">
                                        <img class="plus-minus-buttons-img" src="../static/img/minus.png" alt="">
                                    </button>
                                </div>

                                <div class="col-6 counter">
                                    <span class="counterLike">-11111</span>
                                </div>
                                <div class="col-3 rate">
                                    <button type="button" class="btn btn-outline-primary btn-light rate-button">
                                        <img class="plus-minus-buttons-img" src="../static/img/plus.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <a href="../templates/question.html#answers">answers(2)</a>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">Tags:</div>
                                <div class="col-lg-3"><a href="../templates/tag.html#tag">sport</a></div>
                                <div class="col-lg-3"><a href="../templates/tag.html#tag">IT</a></div>
                                <div class="col-lg-3"><a href="../templates/tag.html#tag">games</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="questions">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="avatar" style="align-self: baseline">
                                <img src="../static/img/25333.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <h2 class="question-title">Question 3</h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis dolore eius enim
                                maiores optio pariatur perferendis quae quo sed?
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="row">
                                <div class="col-3 rate">
                                    <button type="button" class="btn btn-outline-primary btn-light rate-button">
                                        <img class="plus-minus-buttons-img" src="../static/img/minus.png" alt="">
                                    </button>
                                </div>

                                <div class="col-6 counter">
                                    <span class="counterLike">-11111</span>
                                </div>
                                <div class="col-3 rate">
                                    <button type="button" class="btn btn-outline-primary btn-light rate-button">
                                        <img class="plus-minus-buttons-img" src="../static/img/plus.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <a href="../templates/question.html#answers">answers(3)</a>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">Tags:</div>
                                <div class="col-lg-3"><a href="../templates/tag.html#tag">sport</a></div>
                                <div class="col-lg-3"><a href="../templates/tag.html#tag">IT</a></div>
                                <div class="col-lg-3"><a href="../templates/tag.html#tag">games</a></div>
                            </div>
                        </div>

                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">53</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-3">
                <div class="site-info">
                    <div class="row">
                        <p>Popular tags</p>
                        <div class="tags">
                            <a class="badge bg-danger" href="../templates/tag.html#tag">sport</a>
                            <a class="badge bg-primary" href="../templates/tag.html#tag">IT</a>
                            <a class="badge bg-black" href="../templates/tag.html#tag">fashion</a>
                            <a class="badge bg-success" href="../templates/tag.html#tag">VK</a>
                            <a class="badge bg-warning" href="../templates/tag.html#tag">games</a>
                        </div>
                    </div>
                </div>
                <div class="site-info">
                    <div class="row">
                        <p>Best members</p>
                        <ul class="list-group">
                            <li class="list-group-item"><a class="page-link" href="#">Anton</a></li>
                            <li class="list-group-item"><a class="page-link" href="#">Arhip</a></li>
                            <li class="list-group-item"><a class="page-link" href="#">Alexey</a></li>
                            <li class="list-group-item"><a class="page-link" href="#">Alexander</a></li>
                            <li class="list-group-item"><a class="page-link" href="#">Vladik</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>
