{% extends 'inc/base.html' %}

{% load static %}

{% block content %}
                <div class="question">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="avatar">
                                <img src="../static/img/25333.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <h2 class="question-title">Lorem ipsum</h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis dolore eius enim
                                maiores optio pariatur perferendis quae quo sed?
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">



 {% include 'inc/like.html' with likes=answer.likes %}



                        </div>

                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-3">Tags:</div>
                                <div class="col-lg-3"><a href="#">sport</a></div>
                                <div class="col-lg-3"><a href="#">games</a></div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="answers-area" id="answers">

{#cycle#}
                    {% include 'inc/answer-item.html' %}

{% include 'inc/paginator.html' with objects_list=answers.objects_list page_range=answers.page_range %}
                </div>
                <div class="mb-3">
                    <label for="TextData" class="form-label">Text</label>
                    <textarea type="text" class="form-control" id="TextData" rows="4" minlength="10" maxlength="200"
                              required></textarea>
                </div>

                <div class="mb-3">
                    <div class="ask-button">
                        <button type="button" class="btn btn-outline-dark me-2">Answer</button>
                    </div>
                </div>
{% endblock %}