{% load static %}
                    <div class="answer">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="avatar">
                                    <img src="../static/img/25333.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="question-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis dolore eius enim
                                maiores optio pariatur perferendis quae quo sed?
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="row">
                                <div class="col-3 rate">
                                    <button type="button" class="btn btn-outline-primary btn-light rate-button">
                                        <img class="plus-minus-buttons-img" src="../static/img/minus.png" alt="">
                                    </button>
                                </div>

                                <div class="col-6 counter">
                                    <span class="counterLike">-11111</span>
                                </div>
                                <div class="col-3 rate">
                                    <button type="button" class="btn btn-outline-primary btn-light rate-button">
                                        <img class="plus-minus-buttons-img" src="../static/img/plus.png" alt="">
                                    </button>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="correctAnswer"
                                           value="something" checked>
                                    <label class="form-check-label">Correct!</label>
                                </div>
                            </div>
                            <div class="col-lg-7">

                            </div>
                        </div>
                    </div>
