<!DOCTYPE html>
{% load static %}

<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>As'ka</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?">
</head>

<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="navbar-brand" href="{% url 'index' %}">As'ka</a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           id="SearchLine">
                </form>
                <div class="ask-button">
                    <button type="button" class="btn btn-outline-light me-2" onclick="document.location='/ask'">Ask
                    </button>
                </div>
            </div>
            {% include 'inc/auth.html' %}
        </div>
    </nav>
</header>

<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-9">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-3">
                {% include 'inc/sidebar.html' %}
            </div>
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Dev: dm00n 2023</span>
    </div>
</footer>
<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>