<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>As'ka</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}?">
</head>
<body>
<header class="header-index">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="navbar-brand" href="{% url 'index' %}">As'ka</a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           id="SearchLine">
                </form>
                <div class="ask-button">
                    <button type="button" class="btn btn-outline-light me-2" onclick="document.location='/ask'">Ask</button>
                </div>
            </div>
            {% include 'inc/auth.html' %}
        </div>
    </nav>
</header>
<main class="flex-shrink-0">
    <div class="container">
        <h1>New questions</h1>
        <div class="row">
            <div class="col-9">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-3">
                {% include 'inc/sidebar.html' %}
            </div>
        </div>
    </div>
</main>

<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>