{% load static %}
                <div class="row">
                                <div class="col-3 rate">
                                    <button type="button" class="btn btn-outline-primary btn-light rate-button">
                                        <img class="plus-minus-buttons-img" src="../static/img/minus.png" alt="">
                                    </button>
                                </div>

                                <div class="col-6 counter">
                                    <span class="counterLike">-11111</span>
                                </div>
                                <div class="col-3 rate">
                                    <button type="button" class="btn btn-outline-primary btn-light rate-button">
                                        <img class="plus-minus-buttons-img" src="../static/img/plus.png" alt="">
                                    </button>
                                </div>
                            </div>