{% load static %}

    <div class="site-info">
        <div class="row">
            <p>Popular tags</p>
            <div class="tags">
                <a class="badge bg-danger" href="../templates/tag.html#tag">sport</a>
                <a class="badge bg-primary" href="../templates/tag.html#tag">IT</a>
                <a class="badge bg-black" href="../templates/tag.html#tag">fashion</a>
                <a class="badge bg-success" href="../templates/tag.html#tag">VK</a>
                <a class="badge bg-warning" href="../templates/tag.html#tag">games</a>
            </div>
        </div>
    </div>
    <div class="site-info">
        <div class="row">
            <p>Best members</p>
            <ul class="list-group">
                <li class="list-group-item"><a class="page-link" href="#">Anton</a></li>
                <li class="list-group-item"><a class="page-link" href="#">Arhip</a></li>
                <li class="list-group-item"><a class="page-link" href="#">Alexey</a></li>
                <li class="list-group-item"><a class="page-link" href="#">Alexander</a></li>
                <li class="list-group-item"><a class="page-link" href="#">Vladik</a></li>
            </ul>
        </div>
    </div>
